@{
    ViewData["Title"] = "Orders";

    var orders = ViewData["Orders"] as List<Orders>;

}

<div class="container">
    <h1> Orders </h1>
    <div class="content-container">
         @foreach(var order in orders){
             var link="/Order?number=" + @order.orderNumber;
        <a class="card badge-light" href=@link>
            <div class="card-body">
                <div class="order-item row">
                    <div class="col-md-2">
                        @order.DataCarga
                    </div>
                    <div class="col-md-2">
                         @{var cover1="/images/books/" + @order.artigos[0][0] + ".jpg";}
                        <img src=@cover1
                            alt="" class="product-pic">
                    </div>
                    <div class="col-md-3">
                        @order.artigos[0][1]
                    </div>
                    <div class="col">
                        @order.Total €
                    </div>
                    <div class="font-weight-bold col-md-3">
                        @order.Estado                    
                        </div>
                </div>
                @for(var i = 1; i < order.artigos.Count; i++)
                {
                <div class="order-item row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">
                         @{var cover="/images/books/" + @order.artigos[i][0] + ".jpg";}
                        <img src=@cover
                            alt="" class="product-pic">
                    </div>
                    <div class="col-md-3">
                        @order.artigos[i][1]
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="howpayed col-md-1">
                    </div>
                    <div class="font-weight-bold col-md-2">
                    </div>
                </div>
                }
            </div>
        </a>
        }
    </div>
</div>
