@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div id="booksList">
        <div>
            <div id="title_homepage" class="row">
                <h2>
                    Cheapest deals
                </h2>
            </div>

            <div class="row">
                @ViewData["PopularError"]
                

                @foreach (var book in ViewData["PopularBooks"] as IList<Book>)
                {
                    <div class="col-sm-2">
                        <center>
                            <a href="BookPage?id=@book.ID">
                                <img src="@book.Cover" class="img-thumbnail" alt="book">
                            </a>
                        </center>

                        <p id="bookName">
                            <center>
                                @book.Title
                            </center>
                        </p>

                        <p>
                            <center>
                                @book.Price €
                            </center>
                        </p>
                    </div>
                }
            </div>
        </div>
        
        <div>
            <div id="title_homepage" class="row">
                <h2>
                    Latest releases
                </h2>
            </div>

            <div class="row">
                @ViewData["RecentError"]
                

                @foreach (var book in ViewData["RecentBooks"] as IList<Book>)
                {
                    <div class="col-sm-2">
                        <center>
                            <a href="BookPage?id=@book.ID">
                                <img src="@book.Cover" class="img-thumbnail" alt="book">
                            </a>
                        </center>

                        <p id="bookName">
                            <center>
                                @book.Title
                            </center>
                        </p>

                        <p>
                            <center>
                                @book.Price €
                            </center>
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>