@{
    ViewData["Title"] = "Book page";
    MvcBookShop.Models.Book book = (MvcBookShop.Models.Book) ViewData["Book"];  
}

<style>
    div#divBookPage.container-fluid{
        padding-top: 5%;
    }

    img#imgBook{
        height: auto;
        width: 80%;
    }

    div#sinopseBookPage.row{
        padding-top: 5%;
    }

    h1#priceBookPage{
        text-align: right;
    }

    h2#h2SinopseBookPage{
        font-weight: bold;
    }

    p#resume{
        text-align: justify;
    }
</style>

<div id="divBookPage" class="container-fluid">
    <div class="col-sm-5">
        <img id="imgBook" src="@book.Cover" alt="">
    </div>

    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-8" style="padding-left: 0px;">
                <h1>
                    @book.Title
                </h1>
            </div>

            <div class="col-sm-4">
                <h1 id="priceBookPage">
                    @book.Price €
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8" style="padding-left: 0px;">
                <h3>
                    by @book.Author
                </h3>
            </div>

            <div class="col-sm-4">
                <a href="@Url.Action("AddToCart", "Cart", new { id = @book.ID })" type="button" class="btn btn-success">
                    <i class="fas fa-shopping-cart">
                    </i>

                    Add cart
                </a>
            </div>
        </div>

        <div id="sinopseBookPage" class="row">
            <h2 id="h2SinopseBookPage">
                Synopsis
            </h2>

            <p id="resume">
                @book.Sinopse
            </p>
        </div>

        <div id="sinopseBookPage" class="row">
            <h2 id="h2SinopseBookPage">
                Details
            </h2>
        </div>

        <div class="row">
            <ul>
                <li>
                    ISBN: @book.ISBN
                </li>

                <li>
                    Year of edition: @book.PublishYear
                </li>

                <li>
                    Editor: @book.Editor
                </li>

                <li>
                    Language: @book.Language
                </li>

                <li>
                    Dimension: @book.Dimensions
                </li>

                <li>
                    Binding: @book.Binding
                </li>

                <li>
                    Number of pages: @book.Pages
                </li>
            </ul>
        </div>
    </div>
</div>