@{
    ViewData["Title"] = "Category";
}

<h1> @ViewData["CategoryTitle"] </h1>
<div class="container">
    <div class="row">
        @ViewData["Error"]
        @foreach(var book in ViewData["Books"] as IList<Book>){
            <div class="book-card col-sm-2">
                <div class="card book-card">
                    <div class="card-body border-0">
                        <a href="BookPage?id=@book.ID"> 
                            <img src="@book.Cover" alt="" class="product-pic"> </a>
                            <p> @book.Title </p>
                            <p> @book.Price € </p>
                    </div>
                </div>
            </div>
        }
    </div>    
</div>