@{
    ViewData["Title"] = "Cart";
}

<div class="container">
    <h1> Cart </h1>
    <div class="content-container">
        <div class="card">
            <div class="card-header">
                Info order and Payment
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" value="@ViewData["Nome"]" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputAddress" value="@ViewData["Morada"]" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPostalFirst" class="col-sm-2 col-form-label">P. code</label>
                        <div class="input-group col-sm-10 pcode-input">
                            <input type="text" class="form-control" id="inputPostalFirst" value="@ViewData["CodigoPostal"]" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNIF" class="col-sm-2 col-form-label">NIF</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputNIF" value="@ViewData["NIF"]" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPhone" class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPhone" value="@ViewData["Telefone"]" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        @ViewData["Error"]

        
        <div class="card">
            @if((ViewData["booksOnCart"] as IList<Book>).Count != 0) {
            <div class="card-header">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        Name
                    </div>
                    <div class="col-md-2 text-center">
                        #
                    </div>
                    <div class="col-md-2 text-center">
                        s/IVA
                    </div>
                    <div class="col-md-2 text-center">
                        w/IVA
                    </div>
                </div>
            </div>
            }
            @foreach(var book in ViewData["booksOnCart"] as IList<Book>){
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 bookcover">
                        <img src="@book.Cover"
                            alt="" class="product-pic">
                    </div>
                    <div class="col-md-4 bookname">
                       @book.Title
                    </div>
                    <div class="col-md-2 text-center qtyselect">
                        <input class="form-control" type="number" value="@book.QuantityOnCart" id="example-number-input">
                    </div>
                    <div class="col-md-2 text-center pricewoiva">
                        @book.PriceWoIVA €
                    </div>
                    <div class="col-md-2 pricewtiva">
                        @book.Price €
                    </div>
                </div>
                <div style="margin-top: 2%; margin-left: 95%;">
                    <a href="@Url.Action("RemoveItemFromCart", "Cart", new { id = @book.ID })" type="button" class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            }
        </div>
        <div class="card">
            <div class="card-header" id="paymentMethod">
                Choose a method to pay:
            </div>
            <div class="card-body" id="paymentMethod">
                <div class="row">
                    <div class="col-md-3 paymethod">
                        <img src="~/images/american_express.png"
                            alt="" class="payMethod-pic">
                    </div>
                    <div class="col-md-3 paymethod">
                        <img src="~/images/paypal.png"
                            alt="" class="payMethod-pic">
                    </div>
                    <div class="col-md-3 paymethod">
                        <img src="~/images/visa.png"
                            alt="" class="payMethod-pic">
                    </div>
                    <div class="col-md-3 paymethod">
                        <img src="~/images/mastercard.png"
                            alt="" class="payMethod-pic">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 float-right">
        <a href="@Url.Action("PayForItemsOnCart", "Cart")" type="button" class="btn btn-success"><i class="fas fa-chevron-circle-right"></i> &emsp; Go to pay</a>
        </div>
    </div>
</div>