@{
    ViewData["Title"] = "Order";
    var artigos = ViewData["Artigos"] as List<string[]>;
}
<div class="container">
    <h1> Order @ViewData["ID"] </h1>
    <div class="content-container">
        <div class="row">
            <div class="col-sm-6 orderpage-card">
                <div class="card">
                    <div class="card-header">
                        Info order
                    </div>
                    <div class="card-body">
                        <section>
                            <div class="form-group row">
                                <label for="name" class="font-weight-bold col-sm-4 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <p class="form-control-plaintext" id="name">@ViewData["Nome"]</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="font-weight-bold col-sm-4 col-form-label">Address</label>
                                <div class="col-sm-8">
                                     <p class="form-control-plaintext" id="address">@ViewData["Morada"]</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="postalCode" class="font-weight-bold col-sm-4 col-form-label">Postal
                                    code</label>
                                <div class="col-md-8">
                                        <p class="form-control-plaintext" id="postalCode">@ViewData["CodigoPostal"]</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="NIF" class="font-weight-bold col-sm-4 col-form-label">NIF</label>
                                <div class="col-sm-8">
                                    <p class="form-control-plaintext" id="NIF">@ViewData["NumContribuinte"]</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="country" class="font-weight-bold col-sm-4 col-form-label">Country</label>
                                <div class="col-sm-8">
                                    <p class="form-control-plaintext" id="country">@ViewData["Pais"]</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-7">
                        Name
                    </div>
                    <div class="col-md-1">
                        Quant.
                    </div>
                    <div class="col-md-1">
                        s/IVA
                    </div>
                    <div class="col-md-1">
                        c/IVA
                    </div>
                </div>
            </div>
            @foreach(var artigo in artigos){
                 var link="/BookPage?id=" + artigo[0];
            <a class="card-body badge-light" href=@link>
                <div class="row">
                    <div class="col-md-2">
                        @{var cover="/images/books/" + artigo[0] + ".jpg";}
                        <img src=@cover
                            alt="" class="product-pic">
                    </div>
                    <div class="col-md-7">
                        @artigo[1]
                    </div>
                    <div class="col-md-1">
                        @artigo[2] x
                    </div>
                    <div class="col-md-1 pricewoiva">
                        @artigo[3] €
                    </div>
                    <div class="col-md-1">
                        @artigo[4] €
                    </div>
                </div>
            </a>
            }
        </div>
        <div class="row">
            <div class="font-weight-bold col-md-8">
            </div>
            <div class="font-weight-bold col-md-2">
                Total items
            </div>
            <div class="col-md-2" style="text-align: right">
                @ViewData["Total"] €
            </div>
        </div>
        <div class="row">
            <div class="font-weight-bold col-md-8">
            </div>
            <div class="font-weight-bold col-md-2">
                Shipping
            </div>
            <div class="col-md-2" style="text-align: right">
                0,00 €
            </div>
        </div>
        <div class="row mt-2">
            <div class="font-weight-bold col-md-8">
            </div>
            <div class="font-weight-bold col-md-2">
                TOTAL
            </div>
            <div class="font-weight-bold col-md-2" style="text-align: right">
                @ViewData["Total"] €
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 orderpage-card">
                <div class="card">
                    <div class="card-header">
                        Info about order
                    </div>
                    <div class="card-body">
                        <section>
                            <div class="form-group row">
                                <label for="orderNr" class="font-weight-bold col-sm-4 col-form-label">Order nr</label>
                                <div class="col-sm-8">
                                    
                                    <p class="form-control-plaintext" id="orderNr">@ViewData["ID"]</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="state" class="font-weight-bold col-sm-4 col-form-label">State</label>
                                <div class="col-sm-8">
                                    <p class="form-control-plaintext" id="state">@ViewData["Estado"]</p>       
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
